test_results.txt
.~lock.tests.csv#
test_results_all.txt
formula tests/dpd-formulas.csv
dupes.ipynb
comapre/ak 0.txt
comapre/ak 1 2 3.txt
comapre/ak 1 2.txt
comapre/ak 1 3.txt
comapre/ak 1.txt
comapre/ak 2 3.txt
comapre/ak 2.txt
comapre/ak 3.txt
comapre/janaka.txt
output/extra_number_lastrun
output/missing_number_lastrun
output/test_formulas_lastrun
dpd.ods
dpd.csv
__pycache__/dpd_tests.cpython-310.pyc
output/missingword.tsv
__pycache__/family2_test.cpython-310.pyc
